$color-a-hv-fc: rgb(77%, 64%, 49%);
$color-h4: rgb(24%, 24%, 24%);
.type-M28 {
    .content{
      .blog-article{
        .blog-article-category{
          h4{
            font-size:18px;
            gap:normal;
            letter-spacing:3.6px;
            line-height:24.3px;
            margin:10px 0px;
            text-align:center;
            text-transform:uppercase;
            color: #000;
          }
        }
        h6 {
        	color: #737373;
        	font-size: 12px;
        	font-weight: 500;
        	line-height: 13.2px;
        	margin: 10px 0px;
        	text-align: center;
        }

        .read-more {
          h4 {
          	font-family: 'montserratsemibold';
          	font-size: 1.125em;
          	line-height: 1.35;
          	font-weight: normal;
          	color: $color-h4;
          	letter-spacing: 0.2em;
          	text-transform: uppercase;
          }
        }
        a {
          color: inherit;
            &:hover,
            &:focus {
              color: $color-a-hv-fc !important;
              outline: none;
              text-decoration: none;
            }
        }
      }
      .blog-article-title{
        h2{
          color: #3E3E3D;
          display:inline;
          font-size:35px;
          gap:normal;
          letter-spacing:11.2px;
          line-height:38.5px;
          text-align:center;
          text-transform:uppercase;
          text-indent: inherit;
          a {
          	color: $color-h4;
          	-webkit-transition: color .3s ease-out;
          	-o-transition: color .3s ease-out;
          	transition: color .3s ease-out;
          	&:hover, &:focus {
          		color: $color-a-hv-fc;
          		outline: none;
              text-decoration: none;
          	}
          }
        }
      }
  }
}
