.type-M16 div.itemContainer {
  float: left;
  width: 100%; }
.type-M16 h3 a {
  color: inherit;
  text-decoration: none; }
.type-M16 a {
  color: #c4a37d;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
  .type-M16 a:hover, .type-M16 afocus {
    color: #c4a37d;
    outline: none;
    text-decoration: none; }
.type-M16 .blog {
  position: relative;
  margin-bottom: 3em;
  margin-right: 1px;
  background-color: white;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08); }
.type-M16 .blog-thumbnail {
  padding-right: 15px;
  position: static; }
.type-M16 .blog-info {
  padding: 3.3em 3em; }
  .type-M16 .blog-info p {
    margin-bottom: 0;
    color: #737373;
    line-height: 26.4px; }
  .type-M16 .blog-info .blog-meta {
    border-top: 1px solid #ededed;
    margin-top: 1.7em;
    padding-top: 1.7em;
    font-size: 0.88em;
    color: #b5b5b5;
    overflow: hidden; }
    .type-M16 .blog-info .blog-meta .author {
      float: left; }
      .type-M16 .blog-info .blog-meta .author a {
        font-family: 'montserratsemibold';
        color: #b5b5b5;
        font-size: 14px;
        line-height: 24px; }
        .type-M16 .blog-info .blog-meta .author a:hover {
          text-decoration: none;
          color: #c4a37d; }
    .type-M16 .blog-info .blog-meta .time {
      float: right; }
.type-M16 .blog-tags {
  font-family: 'montserratsemibold';
  margin-top: -0.8em; }
  .type-M16 .blog-tags a {
    display: inline-block;
    font-size: 0.75em;
    line-height: 1;
    padding: 0.77em 1.1em 0.77em;
    border-radius: 2em;
    background-color: #ededed;
    text-transform: uppercase;
    color: #6f6f6f;
    margin-top: 0.8em;
    margin: 0.8em 0.7em 0 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .type-M16 .blog-tags a:hover {
      background-color: #c4a37d;
      text-decoration: none;
      color: white; }
.type-M16 .blog-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.333;
  margin: 1.8em 0 0.8em; }
.type-M16 .read-more {
  margin-top: 2.8em;
  display: inline-block;
  font-family: 'montserratsemibold';
  font-size: 0.88em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-right: 2em;
  background: url(../img/img-icon/read-more.png) right 50% no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .type-M16 .read-more:hover {
    text-decoration: none;
    background-position: 95% 50%; }
.type-M16 .pagination {
  margin: 70px 0px 15px 0px;
  padding: 0;
  display: block; }
.type-M16 .blog-pagination {
  list-style: none; }
  .type-M16 .blog-pagination li {
    display: inline-block;
    margin: 0px 2px; }
    .type-M16 .blog-pagination li a {
      background-color: transparent;
      border: none;
      font-size: 12px;
      font-weight: 600;
      color: #333;
      position: relative;
      float: left;
      line-height: 30px;
      width: 30px;
      height: 30px;
      border-radius: 100px;
      text-decoration: none; }
      .type-M16 .blog-pagination li a:hover {
        color: white;
        background-color: #c4a37d;
        text-decoration: none; }
      .type-M16 .blog-pagination li a i {
        font-size: 16px; }
  .type-M16 .blog-pagination > .disabled > a {
    color: white;
    background-color: #c4a37d;
    cursor: default; }
    .type-M16 .blog-pagination > .disabled > a:hover {
      color: white;
      background-color: #c4a37d;
      cursor: default; }
.type-M16 .blog-pagination > .active > a {
  color: white;
  background-color: #c4a37d;
  cursor: default; }
  .type-M16 .blog-pagination > .active > a:focus {
    color: white;
    background-color: #c4a37d;
    cursor: default; }
  .type-M16 .blog-pagination > .active > a:hover {
    color: white;
    background-color: #c4a37d;
    cursor: default; }
.type-M16 .blog-pagination > .active > span {
  color: white;
  background-color: #c4a37d;
  cursor: default; }
  .type-M16 .blog-pagination > .active > span:focus {
    color: white;
    background-color: #c4a37d;
    cursor: default; }
  .type-M16 .blog-pagination > .active > span:hover {
    color: white;
    background-color: #c4a37d;
    cursor: default; }
